/* CSS Document */
*{ margin:0; padding:0;}
body{ font-family:"微软雅黑";}

@font-face {
  font-family: 'iconfont';  /* project id 530398 */
  src: url('http://at.alicdn.com/t/font_530398_ydmyr9goj6m6ajor.eot');
  src: url('http://at.alicdn.com/t/font_530398_ydmyr9goj6m6ajor.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_530398_ydmyr9goj6m6ajor.woff') format('woff'),
  url('http://at.alicdn.com/t/font_530398_ydmyr9goj6m6ajor.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_530398_ydmyr9goj6m6ajor.svg#iconfont') format('svg');
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 26px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
/*item_box*/
.item_box{ background:#efefef;}
/*fix*/
.item_box .fix{ position: fixed;right:0;top:0%;height:100%;width:34px;background:#000000; z-index:100;}
.item_box .fix .person{ width:34px; height:180px; border-bottom:1px #3e3a39 solid;}
.item_box .fix .person i{ color:#ffffff; font-size:26px; display:block; padding-top:136px; padding-left:4px;}
.item_box .fix .cat{ width:34px; height:130px; border-bottom:1px #3e3a39 solid;}
.item_box .fix .cat i{color:#ffffff; font-size:22px; display:block; padding-top:22px; padding-left:4px;} 
.item_box .fix .cat p{ width:24px; height:60px; margin-top:8px; margin-left:8px;}
.item_box .fix .cat a{ color:#ffffff;}
.item_box .fix .custom_service{ width:34px; height:72px; border-bottom:1px #3e3a39 solid;}
.item_box .fix .custom_service i{ color:#ffffff; font-size:26px; display:block; padding-top:22px; padding-left:4px;}
.item_box .fix .APP{ width:34px; height:200px; position:relative;}
.item_box .fix .APP p{ color:#ffffff; padding-top:20px; padding-left:6px; font-size:12px;}
.item_box .fix .APP .APP_card{ display:none; width:130px; height:130px; position:absolute; top:-80px; left:-130px; background:#ffffff;}
.item_box .fix .APP .APP_card:after{ content:''; display:block; width:0; height:0; border-left:6px #fff solid; border-top:6px transparent solid; border-bottom:6px transparent solid; float:right; position:absolute; top:100px; left:130px;}
.item_box .fix .APP .APP_card img{ padding:10px;}
.item_box .fix .APP:hover .APP_card{ display:block;}

.item_box .fix .back_to_top{ width:34px; height:38px; background:#4a1467; position:absolute; bottom:0px;}
.item_box .fix .back_to_top i{ color:#ffffff; margin-left:4px; padding-top:6px; display:block; font-size:24px;}
/*fix end*/

/*item_box_top*/
.item_box .item_box_top{ width:100%; height:196px; border-bottom:2px #4a1467 solid; background:#ffffff;}
/*topbar*/
#topbar{ background:#f1f1f1; width:100%; height:36px; font-size:12px; background:#f1f1f1;}
.topbar{ width:1210px; height:36px; margin:auto; }
#topbar .topbar .home{ width:250px; height:36px; float:left;line-height:36px;}
#topbar .topbar .home .home_left{ width:120px; height:36px; float:left;}
#topbar .topbar .home .home_left p{ width:100%; height:36px;}
#topbar .topbar .home .home_left b{ font-size:20px; color:#3f3f3f; display:block; float:left; margin-right:4px;}
#topbar .topbar .home .home_left a{ color:#333333; display:block; float:left;}
#topbar .topbar .home .home_left i{ margin-left:16px; display:block; float:left; margin-top:2px; font-size:14px;}
#topbar .topbar .home .home_left a:hover{ color:#81257a;}

#topbar .topbar .home .home-ed-card{ float:left; width:126px; /*height:36px;*/ position:relative;}
#topbar .topbar .home .home-ed-card p{margin-left:0px;width:126px; height:36px; position:absolute; z-index:10;}
#topbar .topbar .home .home-ed-card em{font-size:20px; color:#3f3f3f; display:block; float:left;}
#topbar .topbar .home .home-ed-card a{color:#333333;}
#topbar .topbar .home .home-ed-card small{color:#333333; display:inline-block;transition:all 0.5s ease; font-size:14px;}
#topbar .topbar .home .home-ed-card .ed-cord{ display:none; width:126px; height:116px; background:#ffffff; position:absolute;top:35px; z-index:9; }
#topbar .topbar .home .home-ed-card .ed-cord img{ width:104px; height:104px; margin:0px 10px 12px 10px;}
#topbar .topbar .home .home-ed-card:hover .ed-cord{ display:block;}
#topbar .topbar .home .home-ed-card:hover a{ color:#81257a;}
#topbar .topbar .home .home-ed-card:hover p{ background:#ffffff; border-bottom:none;}
#topbar .topbar .home .home-ed-card:hover small{ transform:rotate(180deg); color:#81257a;}
#topbar .topbar .home .home-ed-card:hover .home-ed-card{box-shadow:0px 0px 16px 4px #999;}


#topbar .topbar .user_login{ width:470px; height:36px; float:right;color:#333333;}
#topbar .topbar .user_login p{ float:left;line-height:36px;}
#topbar .topbar .user_login span{ float:left; margin-left:20px; line-height:36px;}
#topbar .topbar .user_login span a{padding-left:4px; padding-right:4px;}
#topbar .topbar .user_login ul{ width:230px; height:36px; float:right;}
#topbar .topbar .user_login .login li{ width:76px; height:36px;float:left; position:relative; }
#topbar .topbar .user_login .login li p{ width:76px; height:36px;display:block;z-index:2002; position:absolute; left:0; top:0;}
#topbar .topbar .user_login .login li p span{ margin-left:0px;}
#topbar .topbar .user_login .login li p a{ display:block; float:left; width:70px; height:36px; text-align:center; border:1px transparent solid;}
#topbar .topbar .user_login .login li .submenu_nav{ display:none; width:88px; height:142px; border:1px #e8e7e7 solid; background:#fff; position:absolute; left:3px; top:35px; z-index:2001; background:#fff;}
#topbar .topbar .user_login .login li .submenu_nav a{ line-height:28px; white-space:nowrap; padding-left:11px; display:block; }
#topbar .topbar .user_login .login li .submenu_nav a:hover{background:#f3f3f3;}
#topbar .topbar .user_login .login li:hover .submenu_nav{ display:block;}
#topbar .topbar .user_login .login li:hover .ca{background:#fff; border:1px #e8e7e7 solid; border-bottom:none;}
#topbar .topbar .user_login .login li .submenu_nav1{ display:none; width:70px; height:86px; border:1px #e8e7e7 solid; background:#fff; position:absolute; left:3px; top:35px; z-index:2001; background:#fff;}
#topbar .topbar .user_login .login li .submenu_nav1 a{ line-height:28px; white-space:nowrap; padding-left:11px; display:block; }
#topbar .topbar .user_login .login li .submenu_nav1 a:hover{background:#f3f3f3;}
#topbar .topbar .user_login .login li:hover .submenu_nav1{ display:block;}
#topbar .topbar .user_login a:hover{ color:#81257a;}
/*topbar end*/
/*search*/
.search{ width:1210px; height:116px; margin:auto;}
.search .logo{ width:304px; height:116px; float:left;}
.search .logo img{ padding-top:22px;}
.search .user_search{ width:668px; height:116px; float:right;}
.search .user_search .searchbar{ width:492px; height:34px; border:2px #4a1467 solid; margin-top:40px; float:left;}
.search .user_search .searchbar b{ width:50px; height:30px; border:1px #4a1467 solid; display:block; background:#4a1467; padding-left:4px; padding-top:2px; font-size:24px; color:#fff;}
#seachbar{ float:left;}
#search{ width:438px; height:30px; float:left; font-size:14px; padding-left:10px;}
#search_button{ width:52px; height:32px; float:left;margin-left:438px; margin-top:-30px; border:1px #4a1467 solid;}
.search .user_search .shopping_cart{ float:right; width:156px; height:34px; background:#4a1467; margin-top:40px;}
.search .user_search .shopping_cart a{ color:#fff; font-size:14px; margin-left:16px;display:block; margin-top:8px;}
.search .user_search .shopping_cart a b{ display:inline-block; float:left; margin-right:4px; margin-top:-4px;}
.search .user_search .shopping_cart a strong{ font-weight:800; margin-right:4px;}
/*search end*/
/*nav_box*/
.item_box .nav_box{ width:1210px; height:46px; margin:auto; position:relative; z-index:1000;}
.item_box .nav_box .menu_box{ width:190px; height:44px; background:#4a1467; float:left;}
.item_box .nav_box .menu_box h3{ color:#fff; font-size:14px; padding-left:56px; padding-top:12px;}
.item_box .nav_box .menu_box .sidebar{ display:none; background:#333333; width:190px; height:457px; margin-top:12px; position:relative; z-index:1;}
.item_box .nav_box .menu_box:hover .sidebar{ display:block;}
.item_box .nav_box .menu_box .sidebar li{ width:190px; height:38px; border:1px transparent solid;}
.item_box .nav_box .menu_box .sidebar .menu{ margin-left:20px; margin-top:8px;}
.item_box .nav_box .menu_box .sidebar .menu a{ color:#fff; font-size:16px; font-weight:300;}
.item_box .nav_box .menu_box .sidebar .menu b{ font-size:18px; width:26px; height:26px; display:block; float:left; margin-top:2px;}
.item_box .nav_box .menu_box .sidebar .menu span{ margin-right:26px; margin-left:14px;}
.item_box .nav_box .menu_box .sidebar .menu i{ font-size:14px;}
.item_box .nav_box .menu_box .sidebar li:hover{ width:190px; height:38px; background:#8f1c78;} 

.item_box .nav_box .menu_box .sidebar .submenu{ display:none; width:589px; height:456px; border:1px #8f1c78 solid; position:absolute; left:190px; top:1px; background:#fff; border-left:none; float:left;}
.item_box .nav_box .menu_box .sidebar li:hover .submenu{ display:block;}
.item_box .nav_box .menu_box .sidebar .submenu .submenu_left{ float:left; height:456px;}

.item_box .nav_box .menu_box .sidebar .submenu .submenu_left .submenu_left_con{ height:456px; float:left; line-height:22px;}
.item_box .nav_box .menu_box .sidebar .submenu .submenu_left .submenu_left_con .submenu_tit a{ color:#727070; font-size:12spx; font-weight:600;}
.item_box .nav_box .menu_box .sidebar .submenu .submenu_left .submenu_left_con .two_tit{ padding-top:26px;}
.item_box .nav_box .menu_box .sidebar .submenu .submenu_left .submenu_left_con .submenu_tit:after{ content:''; display:block; width:70px; border:0.1px #727070 dashed;}
.item_box .nav_box .menu_box .sidebar .submenu .submenu_left .submenu_left_con .submenu_quickmenu a{ color:#9fa1a1; font-size:12px;}
.item_box .nav_box .menu_box .sidebar .submenu .submenu_left .submenu_left_con .submenu_quickmenu a:hover{ color:#8f1c78;}
.submenu_left_con_one,.submenu_left_con_two,.submenu_left_con_three,.submenu_left_con_four{ padding-left:20px; padding-top:26px; float:left;}


.item_box .nav_box .menu_box .sidebar .submenu .submenu_right{ float:left; width:226px; height:454px; }
.item_box .nav_box .menu_box .sidebar .submenu .submenu_right img{ width:226px; height:454px;}

/*nav*/
.item_box .nav_box .nav{ float:left;}
.item_box .nav_box .nav li{ float:left; margin-left:40px; font-size:16px; color:#333333; margin-top:12px;}
.item_box .nav_box .nav li a{ font-weight:600;}
.item_box .nav_box .nav li:hover a{ color:#8f1d78;}
.item_box .nav_box .nav img{ display:block; float:right; position:absolute; top:-20px; left:1050px;}
/*nav end*/
/*nav_box end*/
/*item_box_top end*/

/*screen*/
.item_box #screen{ width:100%;}
.item_box #screen .screen{ width:1210px;  margin:auto; margin-top:10px;}
.item_box #screen .screen h3{ width:1210px; height:40px; background:#ffffff; color:#666666; font-size:14px; display:block; padding-top:10px; padding-left:8px;}
.item_box #screen .screen h3 a{ color:#0081cc;}
.item_box #screen .screen h3 a:hover{ color:#8f1d78;}
.item_box #screen .screen p{ font-size:14px; height:22px; color:#666666; margin-top:12px;}
.item_box #screen .screen small{ color:#cccccc; font-size:16px;}
.item_box #screen .screen #ss{ width:196px; height:24px; border:1px #cccccc solid; padding-left:10px;}
.item_box #screen .screen button{ width:22px; height:20px; margin-left:-23px; border:none; display:inline-block; background:#fff;}
.item_box #screen .screen button i{ font-size:16px; color:#bababb;}
.item_box #screen .screen .screen_con{ width:1210px; height:390px; background:#fff; margin-top:16px; font-size:12px;}
.item_box #screen .screen .screen_con table{ width:1150px; margin:auto; text-align:center;}
.item_box #screen .screen .screen_con table tr{ width:1150px; height:36px; border-bottom:1px #f5f5f5 solid;}
.item_box #screen .screen .screen_con table tr td{ color:#666666;}
.item_box #screen .screen .screen_con table tr td span{ font-weight:600; margin-right:8px;}
.item_box #screen .screen .screen_con table tr td a{ color:#666666;}
.item_box #screen .screen .screen_con table tr td a:hover{ color:#8f1d78;}
.item_box #screen .screen .screen_con table tr td #fw{ width:48px; height:22px; border:1px #cccccc solid; background:#fff;}
.item_box #screen .screen .screen_con table tr td #qd{ width:45px; height:22px; border:1px #cccccc solid; background:#faf9f9;}
.item_box #rankings{ width:100%;margin-top:20px;}
.item_box #rankings .rankings{ width:1210px; height:50px; background:#fff;  margin:auto;}
.item_box #rankings .rankings ul{ float:left;}
.item_box #rankings .rankings li{ float:left; margin-right:24px; margin-left:26px; margin-top:14px;}
.item_box #rankings .rankings li a{ color:#333333;}
.item_box #rankings .rankings li i{ font-size:12px; color:#999999;}
.item_box #rankings .rankings .rankings_right{ float:right;}
.item_box #rankings .rankings .rankings_right p{ width:50px; margin-top:14px;}
/*screen end*/

/*content*/
.item_box #content .content{ background:#fff; width:1210px;  margin:auto; margin-top:10px;}
.item_box #content .content li{ width:216px; height:340px; float:left; margin:10px 13px;}
.item_box #content .content li img{ width:216px; height:216px; margin-bottom:8px;}
.item_box #content .content li h3{ width:216px; height:30px; line-height:36px; overflow:hidden;}
.item_box #content .content li h3:before{ content:''; display:block; width:216px; height:1px; background:#f0f0f0;}
.item_box #content .content li h3 a{ font-size:12px; color:#666666;}
.item_box #content .content li span{ color:#ec3e7d; font-size:24px;}
.item_box #content .content li small{ font-size:14px;}
.item_box #content .content li em{ width:52px; height:18px; display:inline-block; background:#e4393c; color:#fff; font-size:12px; margin-top:0px; float:right; margin-right:100px; margin-top:8px;}
.item_box #content .content li s{ display:block; color:#999999;}
.item_box #content .content li i{ color:#666666; font-size:12px;}
.item_box #content .content li p{ width:70px; height:26px; display:inline-block; background:#fff; padding-top:2px; text-align:center; float:right; border:1px #dddddd solid;}
.item_box #content .content li p a{ color:#333333;}
.item_box #content .content li a:hover{ color:#8f1d78;}

/*content end*/

/*skip*/
.item_box .skip{ width:424px; height:36px; margin:auto; margin-top:30px;}
.item_box .skip li{ width:36px; height:36px; float:left; margin-right:6px; text-align:center; padding-top:10px; color:#333333;}
.item_box .skip li input{ width:48px; height:36px; background:#fff; border:none; margin-left:2px; margin-right:2px; margin-top:-10px; padding-left:10px;}

/*skip end*/

/*recommend*/
.item_box .recommend{ width:1210px; height:406px; margin:auto; background:#fff; margin-bottom:38px; margin-top:38px;}
.item_box .recommend h4{ color:#666666; font-weight:bold; font-size:16px; padding-top:18px; margin-left:14px;}
.item_box .recommend li{ width:216px; height:340px; float:left; margin:10px 13px;}
.item_box .recommend li img{ width:216px; height:216px; margin-bottom:8px;}
.item_box .recommend li h3{ width:216px; height:30px; line-height:36px; overflow:hidden;}
.item_box .recommend li h3:before{ content:''; display:block; width:216px; height:1px; background:#f0f0f0;}
.item_box .recommend li h3 a{ font-size:12px; color:#666666;}
.item_box .recommend li span{ color:#ec3e7d; font-size:24px;}
.item_box .recommend li small{ font-size:14px;}
.item_box .recommend li em{ width:52px; height:18px; display:inline-block; background:#e4393c; color:#fff; font-size:12px; margin-top:0px; float:right; margin-right:100px; margin-top:8px;}
.item_box .recommend li s{ display:block; color:#999999;}
.item_box .recommend li i{ color:#666666; font-size:12px;}
.item_box .recommend li p{ width:70px; height:26px; display:inline-block; background:#fff; padding-top:2px; text-align:center; float:right; border:1px #dddddd solid;}
.item_box .recommend li p a{ color:#333333;}
.item_box .recommend li a:hover{ color:#8f1d78;}
/*recommend end*/



/*item_box_footer_box*/
.item_box .item_box_footer_box{ width:100%; height:542px;}
/*footer*/
.item_box .item_box_footer_box .footer{ width:100%; height:442px; background:#ffffff;}
.item_box .item_box_footer_box .footer .promise{ width:1210px; height:156px; margin:auto;}
.item_box .item_box_footer_box .footer .promise img{ margin-top:34px; margin-left:62px;}
.item_box .item_box_footer_box .footer .handbook{ width:1210px; height:162px; margin:auto;}
.item_box .item_box_footer_box .footer .handbook li a:hover{ color:#8f1d78; }
.item_box .item_box_footer_box .footer .handbook li{ width:82px; height:162px; float:left; font-size:12px; line-height:22px; margin-left:88px;}
.item_box .item_box_footer_box .footer .handbook li:first-child{ margin-left:0px;}
.item_box .item_box_footer_box .footer .handbook li h3 a{ color:#898989; font-size:14px; font-weight:700;}
.item_box .item_box_footer_box .footer .handbook li a{ white-space:nowrap; color:#898989; font-weight:300;}
.item_box .item_box_footer_box .footer .handbook li:last-child{ width:140px; height:130px; float:left; text-align:center;}
.item_box .item_box_footer_box .footer .handbook li:last-child p{ font-size:16px; color:#333333;}
.item_box .item_box_footer_box .footer .handbook li:last-child span{ color:#8f1d78; font-size:20px; margin-top:8px; display:block;}
.item_box .item_box_footer_box .footer .handbook li:last-child small{ color:#898989; display:block; font-size:12px; margin-top:10px;}
.item_box .item_box_footer_box .footer .handbook li:last-child a{ color:#8f1d78; display:block; width:126px; height:32px; border:1px #8f1d78 solid; margin-top:14px; margin-left:6px; padding-top:4px;}
.item_box .item_box_footer_box .footer .handbook li:last-child i{color:#8f1d78;}
.item_box .item_box_footer_box .footer .handbook li:last-child:before{ content:''; display:block; width:1px; height:156px; background:#f5f5f5; float:left; margin-left:-56px;}
.item_box .item_box_footer_box .footer .friends_link{ width:1210px; height:100px; margin:auto; margin-top:24px;}
.item_box .item_box_footer_box .footer .friends_link p{ float:left; margin-right:14px; font-weight:700; margin-top:4px;}
.item_box .item_box_footer_box .footer .friends_link .link{ width:1114px; height:100px; float:left; line-height:26px;}
.item_box .item_box_footer_box .footer .friends_link .link a{ padding-right:10px; font-size:12px; white-space:nowrap; color:#898989;}
.item_box .item_box_footer_box .footer .friends_link .link a:hover{ text-decoration:underline; color:#8f1d78;}
/*footer end*/
/*about_us*/
.item_box .item_box_footer_box .about_us{ width:100%; height:100px; background:#333333;}
.item_box .item_box_footer_box .about_us .about_us_link a{ color:#ffffff; font-size:12px;}
.item_box .item_box_footer_box .about_us .about_us_link{ color:#ffffff;}
.item_box .item_box_footer_box .about_us .about_us_link{ width:1210px; height:30px; margin:auto; padding-top:30px;}
.item_box .item_box_footer_box .about_us .hot-phone{ width:1210px; height:20px; margin:auto; font-size:12px; margin-top:20px;}
.item_box .item_box_footer_box .about_us .hot-phone p{ width:860px; height:20px; float:left;}
.item_box .item_box_footer_box .about_us .hot-phone em{ float:right;}
/*about_us end*/
/*item_box_footer_box end*/
